<form class="example-form" (ngSubmit)="onSubmit()" #form="ngForm">
  <div id="custom-search-input">
    <mat-form-field class="input-group col-md-12">
      <input
        type="text"
        class="form-control input-lg"
        placeholder="What is your question?"
        matInput
        [matAutocomplete]="auto"
        (keyup)="onKeyUp()"
        [(ngModel)]="question"
        [ngModelOptions]="{standalone: true}"
      />
      <span class="input-group-btn">
        <button class="btn btn-info btn-lg" type="submit">
            <i class="glyphicon glyphicon-search"></i>
        </button>
      </span>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)">
        <mat-option *ngFor="let item of questions" [value]="item.tags">
          {{ item.text }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</form>
<div class="col-md-12 answer" *ngIf="answer && answer.length > 0" [innerHTML]="answer"></div>
<div class="col-md-12 answer" *ngIf="answer && answer.length === 0">
  We don't know answer on your question
</div>
