#custom-search-input {
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

input {
  border: 0;
  box-shadow: none;
}

.input-group .form-control:focus {
  outline: 0;
  border: 0;
  box-shadow: none;
  z-index: auto;
}

button {
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
  border-radius: 0;
}

.btn-info:active, .btn-info:hover, .btn-info:focus {
  color: #666666;
  background-color: #fff;
  border-left: solid 1px #ccc;
  box-shadow: none;
  outline: 0;
}

button:hover {
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

.glyphicon-search {
  font-size: 23px;
}

.mat-option {
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
  display: block;
  white-space: nowrap;
}

.mat-active, .mat-option:hover {
  background: rgba(0,0,0,.04);
  color: rgba(0,0,0,.87);
}

.mat-option:focus {
  outline: 0;
}

.answer {
  font-size: 20px;
  color: #555;
  line-height: 1.5;
  margin-top: 75px;
  background-color: gainsboro;
  width: calc(100% - 45px);
  padding: 5px 10px;
}
